.EditorLanguageSelector {
    display: inline-block;
    font-size: 1.3rem;
    font-family: Open, sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: 100;
    width: 120px;
    .css-1hwfws3 { 
        padding: 0 8px;
    }
}