@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';

.LandingPage {
    .container {
        padding: 0;
        margin: 0 auto;
        flex: 2;
        width: 100%;
    }
    .container:before, .container:after{
        display:none;
    }
    .row:before, .row:after{
        display:none;
    }
    .feedbackRow {
        @include breakpoint(tablet) {
            
        }
        @include breakpoint(desktop-large) {
            background: transparent;
        }
    }
    .feedbackCol {
        padding: 3rem;
        @include breakpoint(desktop-large){
            max-width: 31%;
            background: transparent;
        }
    }
}