@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';
.AuthenticatedNavigation {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.4rem;
    // @include breakpoint(tablet){
    //     padding-left: 0;
    // }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav > .active > a {
        background: transparent;
    }
    li {
        cursor: pointer;     
        text-transform: uppercase;
        color: $ef-ecofem;
        &:active {
            background: transparent;
        }
        &:hover{
            text-decoration: none;
            color: $ef-ecofem-dark;
        }
        &:hover:active {
            background: transparent;
        }
    }
    
    // button {
    //     background: transparent;
    //     border: none;
    //     font-size: 1.8rem;
        
    //     margin-right: 1rem;
    //     cursor: pointer;
    //     &:hover {
    //         background: transparent;
        
    //     }
    //     &:active{
    //         background: transparent;
        
    //     }
    //     &:focus{
    //         background: transparent;
        
    //     }
    //     &:active:focus {
    //         background: transparent;
        
    //     }
    //     &:active:hover {
    //         background: transparent;
        
    //     }
    // }
}

@include breakpoint(tablet) {
    .AuthenticatedNavigation {
        display: flex;
        justify-content: flex-end;
        font-size: 1.4rem;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
    }
}