@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';
.AuthenticatedNavigation {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.2rem;
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav > .active > a {
        background: transparent;
    }
    li {
        cursor: pointer;     
        text-transform: uppercase;
        color: $ef-ecofem;
        &:active {
            background: transparent;
        }
        &:hover{
            text-decoration: none;
            color: $ef-ecofem-dark;
        }
        &:hover:active {
            background: transparent;
        }
    }
}

@include breakpoint(tablet) {
    .AuthenticatedNavigation {
        display: flex;
        justify-content: flex-end;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
    }
}