@import '../../stylesheets/colors';

.StoryCriteriaContainer {
    background: $mc400;

    .switchButton {
        background: $mc800;
        color: $mc50;
        width: 100%;
        border-radius: 0;
    }
    .activeButton {
        background: $teal800;
        color: $teal50;
        font-weight: 700;
    }

}