@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';
.CategorySelector {
    width: 222px;
    .css-vj8t7z {   
        border: 1px solid transparent;
        &:hover {
            border: 1px solid transparent;
        }
        &:active {
            border: 1px solid transparent;
            outline: none;
        }
    }
    .css-2o5izw {
        border: 1px solid transparent;
        box-shadow: none;
        &:hover {
            border: 1px solid transparent;
            outline: none;
            box-shadow: none;
        }
    }
    .select__placeholder {
        color: $ef-ecofem;
    }
    .select__indicator-separator {
        display: none;
    }
    .select__dropdown-indicator {
        color: $ef-ecofem;
    }
    .select__menu {
        color: $ef-ecofem;
    }
}