@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';
.ActivityComponentHeader {
    .activityTitle {
        margin: 0;
        padding: 1rem 0 0;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.85px;
    }
    .activityCategory {
        color: white!important;
        text-transform: uppercase;
        text-decoration: underline!important;
        font-size: 1rem;
        &:hover {
            // color: $ef-graycc!important;
            text-decoration: none!important;
        }
    }
}
