.EditorTagsComponent {
    .deleteTagButton {
        height: 2rem;
        padding: 0;
        border-radius: 15px;
        background: transparent;
        color: red;
        border: 1px solid transparent;
    }
}
