.imageContainer {
  position: relative;
  img {   
      max-width: 100%;
      height: auto;
  }
  .deleteButton {
    position: absolute;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 14%;
    left: 90%;
    border-radius: 0px;
  }
  .switchButton {
    position: absolute;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 14%;
    left: 9%;
    border-radius: 0px;
  }
}

.tagCapsule {
   span Button {
    padding: 0, 1px;
    background-color: #555;
    line-height: 1;
    cursor: pointer;
  }
}
