@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.LoginModalController {
  .openButton {
    border: 1px solid transparent;
    background: transparent;
    padding-top: .4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover, &:active, &:focus {
      color: $ef-ecofem-dark;
      background: transparent;
      outline: none;
    }
  }
  @include breakpoint(tablet) {
    .openButton { 
      padding: .5rem 1.5rem;
      font-size: 1.2rem;
    }
   }
}

.Login.Modal {
  position: absolute;
  top: 4rem;
  left: 3rem;
  right: 3rem;
  bottom: 4rem;
  background: white;
  border-radius: 25px;
  margin-bottom: 1rem;
  padding: 2rem 2rem 5rem;
  outline: none;
  overflow: auto;
  --webkit-overflow-scrolling: touch;
  @include breakpoint(tablet) {
    top: 4rem;
    left: 15%;
    right: 15%;
    bottom: 4rem;
   }
   @include breakpoint(desktop) {
    top: 4rem;
    left: 30%;
    right: 30%;
    bottom: 4rem;
   }
   @include breakpoint(desktop-large) {
    top: 4rem;
    left: 30%;
    right: 30%;
    bottom: 4rem;
   }
}

.Login.Overlay {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}