$primary: #2BA670;
$success: #57c214;
$info:    #999999;
$warning: #f7820e;
$danger:  #dc3545;

$ef-black90: rgba(0, 0, 0, 0.7);
$ef-gray99: #999999;
$ef-graycc: #cccccc;
$ef-ecofem: #0e8ed5;
$ef-ecofem-dark: #084d72;
$ef-deepeco: #57c214;
$ef-footprint: #a17278;
$ef-landart: #f7820e;
$ef-community: #9b6e33;
$ef-food: #d51f1b;
$ef-pale-green: #D2FF9D;


// $ef-black90: rgba(0, 0, 0, 0.9);
// $ef-grey99: #999999;
// $ef-graycc: #cccccc;
// $ef-ecofem: #1D13C6;
// $ef-deepeco: #96DF41;
// $ef-footprint: #ffffff;
// $ef-landart: #2BA670;
// $ef-community: #1171AB;
// $ef-food: #C94823;

$facebook: #1877f2;
$google: #ea4335;
$github: $ef-gray99;
$twitter: #00aced;

// Material color Blue Gray

$mc50 :#ECEFF1;
$mc100: #CFD8DC;
$mc200: #B0BEC5;
$mc300: #90A4AE;
$mc400: #78909C;
$mc500: #607D8B;
$mc600: #546E7A;
$mc700: #455A64;
$mc800: #37474F;
$mc900: #263238;


// Material color Blue Teal

$teal50: #E0F2F1;
$teal100: #B2DFDB;
$teal200: #80CBC4;
$teal300: #4DB6AC;
$teal400: #26A69A;
$teal500: #009688;
$teal600: #00897B;
$teal700: #00796B;
$teal800: #00695C;
$teal900: #004D40;
$tealA100: #A7FFEB;
$tealA200:#64FFDA;
$tealA400:#1DE9B6;
$tealA700:#00BFA5;