$primary: #2BA670;
$success: #96DF41;
$info:    #999999;
$warning: #1D13C6;
$danger:  #C94823;

$ef-blue: #1171AB;
$ef-teal: #2BA670;
$ef-green: #96DF41;
$ef-lightgreen: #D2FF9D;
$ef-purple: #1D13C6;
$ef-red: #C94823;
$ef-black: rgba(0,0,0, .8);
$ef-gray: #999999;
$ef-lightgray: #CCCCCC;
$ef-whitegray: #EDEDED;

$facebook: #3b5998;
$google: #ea4335;
$github: $ef-gray;
$twitter: #00aced;

// Material color Blue Gray

$mc50 :#ECEFF1;
$mc100: #CFD8DC;
$mc200: #B0BEC5;
$mc300: #90A4AE;
$mc400: #78909C;
$mc500: #607D8B;
$mc600: #546E7A;
$mc700: #455A64;
$mc800: #37474F;
$mc900: #263238;


// Material color Blue Teal

$teal50: #E0F2F1;
$teal100: #B2DFDB;
$teal200: #80CBC4;
$teal300: #4DB6AC;
$teal400: #26A69A;
$teal500: #009688;
$teal600: #00897B;
$teal700: #00796B;
$teal800: #00695C;
$teal900: #004D40;
$tealA100: #A7FFEB;
$tealA200:#64FFDA;
$tealA400:#1DE9B6;
$tealA700:#00BFA5;